<!-- header.html -->
<body>
    <div class="header"> <!-- my custom header class -->
        <p><div id="site-header"><a href="/">mkrtchyan.xyz</a></div></p>
        <nav>
        <ul class="nav-links" id="links-header">
            <li><a href="/about" {% if page.title=="about" %}class="active-page"{% endif %}>about</a></li>
            <li><a href="/archive" {% if page.title=="archive" %}class="active-page"{% endif %}>archive</a></li>
            <li><a href="https://github.com/kristinamkr"><img src="/assets/images/github_120px.png" class="image-icon"></a></li>
            <li><a href="https://www.linkedin.com/in/kristinamkr?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3BsiLpStYtQye3Vz7LhCH7yw%3D%3D"><img src="/assets/images/linkedin.png" class="image-icon"></a></li>
        </ul>
        </nav>
        <hr class="hr1">
    </div>
</body>
