/*
* post.scss
*/

[class*="post"] {
    text-align: left;
}

.post-header {
    line-height: 0px;
    height: 32px;
}

#post-title {
    display: inline-block;
    margin-right: 10px;
}

#post-date {
    display: inline-block;
}
