/*
* footer.css
*/

footer {
    // background-color: orange;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    overflow: hidden;
}

footer p {
    margin-top: 75px;
    margin-right: 10px;
    font-family: Helvetica;
    text-align: right;
}
