/*
* link.scss
*/

.header a { 
    // outline: none;
    text-decoration: none;
    transition: 0.5s;
}

.header a:link, .header a:visited, .header a:focus { 
    color: #000000;
}


nav ul {
    padding: 0;
}

nav li {
    display: inline;
}

nav.link-preview a {
    display: block;
    text-align: center;
    font-size: 32px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-decoration: none;

} 

nav.link-preview a:link, nav.link-preview a:visited, nav.link-preview a:focus { 
    color: #000000;
}

nav a {
    margin-right: 5.5%;
    line-height: 1;
} 

nav a:focus, nav a:hover, nav a:active{
    color: #676767;
}

nav li:last-child a {
    margin-right: 0;
}
