<!-- default.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load stylesheet for css -->
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <!-- tab title -->
    <title>{{ page.title }} - {{ site.title }}</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/mushroom_tiny.ico">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("/assets/layouts/header.html");
        });
    </script>
    <script>if(!sessionStorage.getItem("_swa")&&document.referrer.indexOf(location.protocol+"//"+location.host)!== 0){fetch("https://counter.dev/track?"+new URLSearchParams({referrer:document.referrer,screen:screen.width+"x"+screen.height,user:"kristinamkr",utcoffset:"-8"}))};sessionStorage.setItem("_swa","1");</script>
</head>
<body>
    <div id="header"></div>
    <main class="page-content">
        {{ content }}
    </main>
    <footer>
    </footer>
</body>
</html>
