<!-- index.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load stylesheet for css -->
    <link rel="stylesheet" type="text/css" href="src/style.css">
    <!-- tab title -->
    <title>Plant Generator</title>
    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/assets/mushroom_tiny.ico">

</head>
<body>
    <script src="src/main.js"></script>
    <form id="myForm">
        <label for="name">name:</label>
        <input type="text" id="name" name="fname">
        <input type="submit" value="ok">
    </form>
    <!-- stuff --> 
    test
   <canvas width=500 height=500 id="canvas"></canvas>
</body>
</html>
