<!-- plantGen.html -->

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- load stylesheet for css -->
    <link rel="stylesheet" type="text/css" href="/assets/plantGen/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    <!-- tab title -->
    <title>Plant Generator</title>
    <link rel="icon" type="image/x-icon" href="/assets/mushroom_tiny.ico">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        $(function(){
            $("#header").load("/assets/layouts/header.html");
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <div id="plant-wrapper">
    <div id="settings-wrapper">
        <form id="plantForm"> <!-- add selectable presets -->
            <label for="fractalType">L-System</label>
            <select id="fractalType" name="fractalType">
                <option value="1">01. Lavender (Stochastic)</option>
                <option value="2">02. Fennel (Stochastic)</option>
                <option value="3">03. Seaweed</option>
                <option value="4">04. Plant 4</option>
                <option value="5">05. Parsley</option>
                <option value="6">06. Dill</option>
            </select>
            <br>
            <label for="genSlider">Generation</label>
            <input type="range" id="genSlider"
                min="0"
                max="10"
                step="1"><br>
            <label for="scaleSlider">Stroke Size</label>
            <input type="range" id="scaleSlider"
                min="1"
                max="1"
                value="0"
                step="0.5">
            <br>
            <input type="submit" id="submit" value="Generate">
            <button type="button" id="download"
                onclick="DownloadPlantIMG()">
                Save PNG 
            </button>
        </form>
    </div>

    <script src="/assets/scripts/utilities.js"></script>

    <div id="canvas-wrapper">
        <canvas id="canvas" width=500 height=750></canvas>
    </div>
    </div>

    <script src="/assets/scripts/events.js"></script>
    <script src="/assets/scripts/turtle.js"></script>
    <script src="/assets/scripts/presets.js"></script>
    <script src="/assets/scripts/plant-gen.js"></script>
</body>
